<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="text" name="title" placeholder="Username" required #usernameInput="ngModel" name="username" ngModel>
            <mat-error *ngIf="usernameInput.invalid">Please enter a valid username</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" ngModel name="password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
        </mat-form-field>
        <button *ngIf="!isLoading" mat-raised-button color="primary" type="submit">Login</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</mat-card>