.control-menu-item {
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.garden-header-item {
    display: inline-block;
    width: 50%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.garden-header-item p {
    margin: 1rem;
    color: rgba(0, 0, 0, 0.87);
    /* font-style: italic; */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.pink {
    color: #ff4081;
}

mat-list {
    width: 100%;
    float: right;
    padding: 0;
}

.icon-water {
    color: lightskyblue;
}

.icon-temp {
    color: orangered;
}

.num-icon {
    display: table-cell;
    padding-top: 1px;
    font-size: 20px;
    display: inline;
}

.plants-grid {
    width: 100%;
    float: left;
}

img {
    height: 100%;
}

table {
    width: 100%;
    margin: auto;
}

mat-form-field {
    margin-top: 1rem;
    width: 100%;
}
