<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Garden">
        <div>
            <div class="control-menu-item">
                <span class="num-icon">{{garden?.water}}</span>
                <mat-icon aria-hidden="false" class="icon-water">opacity</mat-icon>
                <button mat-icon-button class="icon-add-remove" (click)="addWater(1)">
                  <mat-icon >add</mat-icon>
                  </button>
                <button mat-icon-button class="icon-add-remove" (click)="addWater(-1)">
                    <mat-icon >remove</mat-icon>
                    </button>
            </div>
            <div class="control-menu-item">
                <span class="num-icon">{{garden?.temperature}}</span>
                <mat-icon class="icon-temp">whatshot</mat-icon>
                <button mat-icon-button class="icon-add-remove" (click)="addTemperature(0.5)">
                <mat-icon >add</mat-icon>
                </button>
                <button mat-icon-button class="icon-add-remove" (click)="addTemperature(-0.5)">
                  <mat-icon >remove</mat-icon>
                  </button>
            </div>
        </div>
        <mat-list>
            <mat-divider></mat-divider>
        </mat-list>
        <div class="plants-grid">
            <mat-grid-list [cols]="garden.width" rowHeight="100px">
                <mat-grid-tile *ngFor="let slot of garden.slots" [colspan]="1" [rowspan]="1">
                    <img [src]="getImagePath(slot)" [mdePopoverTriggerFor]="appPopover" #popoverTrigger="mdePopoverTrigger" mdePopoverTriggerOn="hover" alt="">
                    <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
                        <mat-card style="max-width: 200px; min-width:100px;">
                            <mat-card-content>
                                <div *ngIf="slot.timePlanted!=null && slot.product!=null">
                                    <!-- Show progress -->
                                    <mat-progress-bar mode="determinate" [value]="calculateProgress(slot)"></mat-progress-bar>
                                    time planted: {{parseISOString(slot.timePlanted).getTime()}}<br> current time: {{getCurrentTime()}}<br> time to grow: {{slot.product.time}}<br> current - planted: {{getDiff(getCurrentTime(),parseISOString(slot.timePlanted).getTime())}}
                                    <br>
                                    <div *ngIf="calculateProgress(slot) >= 100">
                                        <button (click)="popupButtonTest()">Take out</button>
                                    </div>
                                    <div *ngIf="calculateProgress(slot) < 100">
                                        <p>Choose a suplement you want to apply:</p>
                                        <table mat-table [dataSource]="getSuplementsInWarehouse()" class="mat-elevation-z1">

                                            <ng-container matColumnDef="product.name">
                                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="count">
                                                <th mat-header-cell *matHeaderCellDef> Count </th>
                                                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                            </ng-container>


                                            <tr mat-header-row *matHeaderRowDef="popoverPlantDisplayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: popoverPlantDisplayedColumns;" (click)="applySuplement(slot,row)" style="cursor: pointer;"></tr>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="slot.timePlanted==null">
                                    <!-- Show planting menu -->
                                    <p>Choose a plant from your warehouse:</p>
                                    <table mat-table [dataSource]="getPlantsInWarehouse()" class="mat-elevation-z1">

                                        <ng-container matColumnDef="product.name">
                                            <th mat-header-cell *matHeaderCellDef> Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="count">
                                            <th mat-header-cell *matHeaderCellDef> Count </th>
                                            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="popoverPlantDisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: popoverPlantDisplayedColumns;" (click)="plant(slot,row)" style="cursor: pointer;"></tr>
                                    </table>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mde-popover>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>

    <!-- Warehouse tab -->
    <mat-tab label="Warehouse">
        <table mat-table [dataSource]="garden.warehouse" class="mat-elevation-z8">

            <ng-container matColumnDef="product.name">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
            </ng-container>

            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef> Count </th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
            </ng-container>

            <ng-container matColumnDef="product.isPlant">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.product.isPlant? 'Plant': 'Suplement'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="warehouseDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: warehouseDisplayedColumns;"></tr>
        </table>
    </mat-tab>
</mat-tab-group>