<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onChangePassword()" [formGroup]="form" name="signupForm" *ngIf="!isLoading">

        <mat-form-field>
            <input formControlName="currentPassword" type="password" matInput placeholder="Current Password" name="currentPassword">
            <mat-error *ngIf="this.form.get('currentPassword').invalid">Please enter a valid password</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Password" name="password">
            <mat-error *ngIf="this.form.get('password').invalid">Please enter a valid password</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="confirmPassword" type="password" matInput placeholder="Confirm Password" name="confirm_password" [errorStateMatcher]="matcher">
            <mat-error *ngIf="this.form.hasError('notSame')">Passwords must match!</mat-error>
        </mat-form-field>

        <button *ngIf="!isLoading" mat-raised-button color="primary" type="submit">Confirm</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</mat-card>
