table {
    width: 100%;
}

.ninety-five-percent {
    width: 95%;
}

.plus-one-container {
    width: 3%;
    float: right;
    margin: 0;
    display: block;
}

.json-button {
    margin-top: 1rem;
}

.actions-wrapper {
    text-align: center;
}
