<div class="plus-one-container">
    <button mat-mini-fab color="accent" (click)="newUser()">
<mat-icon>plus_one</mat-icon>
</button>
</div>
<div class="ninety-five-percent">
    <table mat-table [dataSource]="pendingUsers" class="mat-elevation-z8">

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element" [style]='element.approved?"border-bottom:1px solid rgb(127, 255, 0);":"border-bottom: 1px solid #ff4081"'> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element" [style]='element.approved?"border-bottom:1px solid rgb(127, 255, 0);":"border-bottom: 1px solid #ff4081"'> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element" [style]='element.approved?"border-bottom:1px solid rgb(127, 255, 0);":"border-bottom: 1px solid #ff4081"'> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element" [style]='element.approved?"border-bottom:1px solid rgb(127, 255, 0);":"border-bottom: 1px solid #ff4081"'> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="isCompany">
            <th mat-header-cell *matHeaderCellDef> isCompany </th>
            <td mat-cell *matCellDef="let element" [style]='element.approved?"border-bottom:1px solid rgb(127, 255, 0);":"border-bottom: 1px solid #ff4081"'> {{element.isCompany}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element" [style]='element.approved?"border-bottom:1px solid rgb(127, 255, 0);":"border-bottom: 1px solid #ff4081"'> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="approved">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!element.approved" class="actions-wrapper">
                    <button mat-icon-button style="color:chartreuse" (click)="approveUser(element)">
                  <mat-icon>check</mat-icon>
                  </button>
                    <button mat-icon-button color="accent" (click)="deleteUser(element)">
                    <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
                <div *ngIf="element.approved" class="actions-wrapper">
                    <button mat-icon-button color="primary" (click)="editUser(element)">
                    <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="deleteUser(element)">
                    <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>